/* Fontun daxil edilməsi */

@import url('http://fonts.cdnfonts.com/css/trajan-pro');

/* Ümumi */

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	
}

/* Arxaplan şəkli */

.bg-wallpaper {
	position:fixed;
	top:0;
	left:0;
	min-width: 100%;
	min-height: 100%;
	z-index:-1;
}

/* Netflix loqosu */

.logo{
	position:absolute;
	width:170px;
	height:100px;
	left:30px;
	top:10px;
	cursor:pointer;
}

/* Əsas menyu */

.navbar{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:25px;
}

.navbar li{
	list-style:none;
	margin-left:15px;
	margin-top:20px;
	font-family:'Verdana',sans-serif;
}

.navbar li a{
	text-decoration: none;
	color:#fff;
	text-align:center;
}

.navbar li a:hover{
	cursor:pointer;
	color:#E50914;
}

/* Alt menyu */

.navbar-item2-sub-menu{
	position: absolute;
	display:block;
	line-height:30px;
	background: #E50914;
	opacity:0.9;
	padding:5px 7px;
	width:24%;
	margin-top:1px;
	display: none;
	z-index:7;
}

.navbar-item2:hover .navbar-item2-sub-menu{ display: block; } 

.navbar-item2-sub-menu li a{
	text-decoration:none;
	font-size:15px;
	transition:220ms;
	font-family: 'Bookman', sans-serif;
}

.navbar-item2-sub-menu li a:hover{ color:#3d3d3d; }


/* Axtarış hissəsi */

.search-bar{
	position:absolute;
	outline:none;
	border:1px solid;
	border-radius:3px;
	font-size:14px;
	left:75%;
	margin-top:-15px;
	height:30px;
	width:250px;
	opacity:0.4;
	padding:15px;
	z-index:5;
}

/* Dil dəyişmə hissəsi */

.languages{
	position:absolute;
	right:4%;
	top:45px;
	text-decoration: none;
	color:white;
	font-size:15px;
	font-weight:bold;
	transition:0.2s;
	font-family:'Arial',sans-serif;
}

.languages:hover{
	color:#E50914;
}

#az{
	right:1.5%;
}

/* "WINTER IS COMING" yazısı */

.winter-text{
	color:#fff;
	position:absolute;
	left:80px;
	top:200px;
	background:none;
	outline:none;
	border:none;
	border-bottom:2px solid #6a7180;
	font-size:20px;
	transition:0.5s;
}

.winter-text:hover{
	letter-spacing: 2.5px;
	color:#356bde;
	border:none;
}

/* "GAME OF THRONES" yazısı */

.game-of-thrones-text{
 	position:absolute;
 	color:#7e83ed;
 	top:250px;
 	font-size:70px;
 	margin-left:70px;
 	font-family: 'Trajan Pro', sans-serif;
 }

 /* "O" hərfi */

.o-letter{
	position:absolute;
	top:283.9px;
	left:313px;
	width:38px;
	height:38px;
}

.o-letter1{
	position:absolute;
	height:62px;
	width:62px;
	left:245px;
	top:351px;
}

/* "F" hərfi */

.f-letter{
	color:#7e83ed;
	font-size:44px;
	margin-left:30px;
	font-family: 'Trajan Pro', sans-serif;
}

/* "THR" hissəsi */

.thr-text{font-family: 'Trajan Pro', sans-serif;}

/* Sezon hissəsi*/

.seasons{
	position:absolute;
	top:450px;
	left:80px;
	background:#E50914;
	width:135px;
	height:40px;
	text-align:center;
	color:#fff;
	outline:none;
	padding:11px;
	border:1px solid #E50914;
	border-radius:3.5px;
	cursor:pointer;
	font-weight:bold;
}

/* Mənim listim hissəsi */

.my-list{
	position:absolute;
	top:450px;
	left:250px;
	background:#0e0e0f;
	width:144px;
	height:40px;
	text-align:center;
	color:#fff;
	outline:none;
	padding:12px;
	border:1px solid #0e0e0f;
	border-radius:1px;
	cursor:pointer;
	font-weight:bold;
	font-size:15px;
}

/* Treyler butonu */

.trailer-button{
	position:absolute;
	top:80%;
	left:8%;
	width:15rem;
	height:40px;
	text-align:center;
	background-color:#D29849;
	color:#001730;
	border:1px solid #D29849;
	cursor:pointer;
	font-weight:bold;
	font-size:15px;
	transition:0.3s;
	letter-spacing: 1px;
}

.trailer-button:hover{
	background-color:#D81C23;
	color:#fff;
	letter-spacing: 3px;
}

/* Treyler */

iframe{
	height:527px;
	width:874px;
	position:absolute;
	top:60%;
	left:68%;
	transform:translate(-50%,-50%);
	border:1px ridge black;
	opacity:0.95;
}


